<div class="doc__wrapper">

  <div class="page__header__wrapper">
    <div class="grey__top__ribbon page__justify__align"></div>
    <div class="app__brand__ribbon page__justify__align">
      <a class="app__brand">Viking Docs</a>
    </div>
  </div>

  <div class="page__body__wrapper">
    <p id="backgroundAppBrand">Viking Docs</p>
    <div class="page__body__content">
      <router-outlet></router-outlet>
      <div id="favoritesMenuContainer" class="favoritesMenuContainer">
      </div>
    </div>
  </div>

</div>