.grey__top__ribbon {
    width: 100%;
    height: 8vh;
    background-color: var(--menu-color);
}

.app__brand__ribbon {
    width: 100%;
    height: 7vh;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}
.app__brand {
    font-family: 'Tangerine', cursive;
    color: var(--font-color-black);
    font-weight: 600;
    font-size: 48px;
}

